<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
    <div class="wrapper">
    	<#include "../index/header.html">
   		<#include "../index/sidebar.html">
   		<div id="app" class="content">
   			 <div style="float:right;border:0px solid red;width:500px;"><el-button type="primary" @click="showDialogAddForm('add',null)">新增机器</el-button></div>
	     	 <el-table :data="tableData" style="width: 100%">
			    <el-table-column
			      label="内网IP"
			      width="280">
			      <template slot-scope="scope">
			        <i></i>
			        <span style="margin-left: 10px">{{ scope.row.name }}</span>
			      </template>
			    </el-table-column>
			    <el-table-column
			      label="公网IP"
			      width="280">
			      <template slot-scope="scope">
			        <i></i>
			        <span style="margin-left: 10px">{{ scope.row.chineseName }}</span>
			      </template>
			    </el-table-column>
			    <el-table-column
			      label="CID Client地址"
			      width="280">
			      <template slot-scope="scope">
			        <i></i>
			        <span style="margin-left: 10px">{{ scope.row.gitUrl }}</span>
			      </template>
			    </el-table-column>
			    <el-table-column
			      label="部署目录"
			      width="280">
			      <template slot-scope="scope">
			        <i></i>
			        <span style="margin-left: 10px">{{ scope.row.pushTime }}</span>
			      </template>
			    </el-table-column>
			    <el-table-column label="操作">
			      <template slot-scope="scope">
			        <el-button
			          size="mini"
			          @click="showDialogAddForm('edit',scope.row)">编辑</el-button>
			      </template>
			    </el-table-column>
			  </el-table>
			  
	    </div>
	    
    </div>
<script>
  new Vue({
    el: '#app',
    data: function() {
    	return {
    		page: 1,
            tableData: [{
              name: 'fangjia-district-service',
              chineseName: '小区服务',
              pushTime: "2019-12-12",
              gitUrl: "http://gitlab.fangjia.com",
              instanceCount:3
            }]
        }
    },
    mounted: function() {
    	
    },
    methods:{
    }
  })
</script>
</body>
</html>

